<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/publisher/dc">DC Comics</a></li>
            <li><a href="/publisher/marvel">Marvel Comics</a></li>
        </ul>
    </nav>
</header>